# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.iml
*.log
*.tmp
*.bak
*.swp
.DS_Store
.idea/
*.db
*.h2.db

# Node / React
node_modules/
build/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# Others
*.log
